.el-main {
	box-sizing: border-box;
	padding: 20px;
	overflow-x: hidden;
	background-color: #ffffff;
	&::-webkit-scrollbar {
		background-color: #f0f2f5;
	}
}
.el-footer {
	height: auto;
	padding: 0;
}
